<div class="home-title_wrapper">
  <h1>Book</h1>
</div>

<div class="home-description_wrapper">
  <p>Great Hair Doesn't Happen By Chance. It Happens By Appointment!</p>
  <p>So Don't Wait And Book Your Appointment Now!</p>
</div>

<div class="home-content_wrapper">
  <div class="content-img">
    <picture>
      <source media="(min-width:1200px)" srcset="assets/images/bg_l.jpg">
      <img src="assets/images/bg_l.jpg" alt="Barber" style="width:auto;">
    </picture>
  </div>

  <div class="content-form">
    <app-form></app-form>
  </div>
</div>
